/*  
xs < 640px
sm >= 640px
md >= 768px
lg >= 1024px
xl >= 1280px
xxl >= 1536px

*/

@media (min-width: 664px) {
  header {
    position: sticky;
    top: 0;
  }

  nav ul {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }

  #profile {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  #profile .profile-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    gap: var(--spacing-md);
    border: 1px solid var(--color-light);
  }

  #profile .profile-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
  }

  #about .about-details {
    width: 60%;
  }

  #about .about-information {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #about .about-information .about-information--item {
    width: 30%;
  }

  #contact div {
    display: flex;
    justify-content: center;
  }

  #contact form {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #articles .article-list {
    flex-direction: row;
  }
}
